.hard-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hard-skills-container {
  flex-direction: column;
  margin: 1.3rem;
}

.soft-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.soft-skills-card {
  max-width: 29rem;
  box-shadow: rgb(100, 93, 93) 0 0 5px;
  border-radius: 5px;
  padding: 20px;
  margin: 1rem auto;
}
